@include breakpoint(0, $mobile) {
    #news {
        padding-top: $section-pad;
        max-width: 425px;

        article {
            background-color: $lightest-gray;
            margin-bottom: 2 * $content-side-pad;
            padding-bottom: $content-side-pad;

            &:last-of-type {
                margin-bottom: $section-pad;
            }

            h3 {
                margin-left: $content-side-pad;
                padding-top: $content-side-pad / 2;
                padding-bottom: $content-side-pad / 2;
            }

            img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }

            p {
                padding-top: $content-side-pad;
                padding-left: $content-side-pad;
                padding-right: $content-side-pad;
                font-size: 1.2rem;
            }

            a {
                @include button(black);
                margin-left: $content-side-pad;

            }
        }
    }
}

@include breakpoint($desktop) {
    #news {
        padding-top: $desktop-section-pad;
        padding-bottom: $desktop-section-pad;

        .news-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            column-gap: $desktop-content-side-pad;
            justify-content: space-between;
        }

        h2 {
            margin-bottom: $desktop-content-side-pad;
        }

        article {
            background-color: $lightest-gray;
            width: calc(33.3% - $desktop-content-side-pad);

            h3 {
                margin-left: $desktop-content-side-pad / 2;
                padding-top: $desktop-content-side-pad / 1.5;
                padding-bottom: $desktop-content-side-pad / 1.5;

                // to not make a second line of text -> instead "..." at the end of visible text
                text-overflow: ellipsis;

                overflow: hidden;
                white-space: nowrap;
            }

            img {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }

            p {
                padding-top: $desktop-content-side-pad;
                padding-left: $desktop-content-side-pad;
                padding-right: $desktop-content-side-pad;
                font-size: 1.2rem;
            }

            a {
                @include button(black, transparent, true);
                margin-left: $desktop-content-side-pad;
                margin-bottom: $desktop-content-side-pad;
            }
        }
    }
}